/* ====== GENERAL ====== */
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  position: relative;
}

body::after {
    content: '';
    background: url(https://images.unsplash.com/photo-1504754524776-8f4f37790ca0?auto=format&fit=crop&w=1050&q=80);
    background-size: cover;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

/* ====== LAYOUT PRINCIPAL ====== */
.layout {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
}

/* ====== LOGO ====== */
.container__img {
  width: 18rem;
  margin: 2rem;
}

img {
  width: 100%;
}

/* ====== FORM ====== */
.container__form {
   padding: 2rem;
   background-color: white;
   box-shadow: 0 0 0 10px rgba(0,0,0,0.1);
   width: 25rem;
   border-radius: 10px;
}

h2 {
    text-align: center;
    font-size: 2.2rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

p {
    text-align: center;
    font-size: 1.2rem;
    color: #444;
    margin-bottom: 1rem;
}

/* ====== INPUTS ====== */
.add-items input {
   margin-top: 0.7rem;
   padding: 1rem;
   outline: 0;
   width: 100%;
   box-sizing: border-box;
   border: 1px solid rgba(70, 78, 70, 0.562);
   border-radius: 5px;
}

.add-items input[type="submit"] { 
    background-color: rgb(230, 168, 0); 
    color: white; 
    border: none; 
    cursor: pointer;
    margin-top: 1rem;
    border-radius: 5px;
}

/* ====== LISTADO ====== */
.plates-list { 
  list-style: none; 
  margin-top: 1.5rem;
  padding: 0;
}

.plate-item {
  display: flex;
  align-items: center;
  background: #ffffffd9;
  padding: 0.8rem;
  margin-bottom: 0.6rem;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  gap: 0.7rem;
}

.plate-item input[type="checkbox"] {
  transform: scale(1.3);
}

.plate-item label {
  flex: 1;
  font-size: 1.1rem;
}

.delete-btn {
  background: rgb(255, 70, 70);
  color: white;
  border: none;
  padding: 0.4rem 0.7rem;
  border-radius: 5px;
  cursor: pointer;
}

.delete-btn:hover {
  background: red;
}
